*{
    margin: 0px;
    padding: 0px;
}
@media screen and (max-width: 880px)
{
.upustva{ display: block !important;} 
.upustvaslike{ margin: 0% !important;}

}
@media screen and (max-width: 700px){
    .dugitekst{ display: block !important;}
    .dugitekst1{width: 100% !important;}
    .dugitekst2{width: 100% !important;}
}
.upustva{
    display: inline-flex ;
}
.upustvaslike{
    margin-left:3rem;
}
.container{
    background-color: white !important;
    background-image: none !important;
}
.container-fluid{
    background-image: none !important;
}
body{
    background-color:#2e4e81 !important;
    background-position:center;
    background-size: cover;
}
.navbar2{
    position: sticky !important;
    top:0;
    z-index: 6;
}
.dugitekst{
width: 100%; 
background-color: rgb(230, 255, 246);
display: inline-flex;   
}
.dugitekst1{
    width: 50%;
}
.dugitekst2{
    width:50%;
}